@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-areas: "title title" "text text" "button-one button-two";
  background: url("../img/header.svg");
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  height: 650px;
  margin: auto;
}

.header img {
  max-width: 100%;
}

.header h1 {
  grid-area: title;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  font-size: 4rem;
}

.header p {
  grid-area: text;
  text-align: center;
  align-self: flex-start;
  justify-self: center;
  font-family: "Open-sans", sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #fff;
  width: 690px;
}

.btn-download {
  grid-area: button-one;
  width: 210px;
  height: 44px;
  border: 1px solid #ccc;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  align-self: flex-start;
  justify-self: flex-end;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 20px;
  text-align: center;
  color: #23272a;
}

.btn-download:hover {
  background-color: #23272a;
  color: #fff;
}

.btn-open {
  grid-area: button-two;
  width: 280px;
  height: 44px;
  border: 1px solid #ccc;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  align-self: flex-start;
  justify-self: flex-start;
  background-color: #23272a;
  border-radius: 20px;
  margin-right: 20px;
  text-align: center;
  color: #fff;
}

.btn-open:hover {
  background-color: #fff;
  color: #23272a;
}

.section-01 {
  display: grid;
  grid-template-areas: "image text" "image text";
  padding: 80px 100px;
  height: 650px;
  margin: auto;
  background-color: #fff;
}

.section-01 img {
  grid-area: image;
  min-width: 100%;
}

.section-01 h2 {
  grid-area: text;
  font-family: "Open-sans", sans-serif;
  font-weight: 800;
  font-size: 2.9rem;
  line-height: 3rem;
  color: #23272a;
  width: 400px;
  margin-bottom: 40px;
}

.section-01 p {
  grid-area: text;
  font-family: "Open-sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #23272a;
  width: 420px;
  padding-top: 60px;
}

.section-02 {
  display: grid;
  grid-template-areas: "text image" "text image ";
  padding: 80px 100px;
  height: 650px;
  margin: auto;
  background-color: #fff;
}

.section-02 img {
  grid-area: image;
  min-width: 100%;
}

.text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-02 h2 {
  font-family: "Open-sans", sans-serif;
  font-weight: 800;
  font-size: 2.9rem;
  line-height: 3rem;
  color: #23272a;
  width: 400px;
  margin-bottom: 40px;
}

.section-02 p {
  font-family: "Open-sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #23272a;
  width: 420px;
  padding-top: 60px;
}

.section-03 {
  display: grid;
  grid-template-areas: "image text" "image text";
  padding: 80px 100px;
  height: 650px;
  margin: auto;
  background-color: #fff;
}

.section-03 img {
  grid-area: image;
  min-width: 100%;
}

.section-03 h2 {
  grid-area: text;
  font-family: "Open-sans", sans-serif;
  font-weight: 800;
  font-size: 2.9rem;
  line-height: 3rem;
  color: #23272a;
  width: 400px;
  margin-bottom: 40px;
}

.section-03 p {
  grid-area: text;
  font-family: "Open-sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #23272a;
  width: 420px;
  padding-top: 60px;
}

.section-04 {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 120px;
  padding-top: 80px;
  background-color: #f8f8f8;
}

.section-04 h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
  width: 600px;
  text-align: center;
  color: #23272a;
  padding-bottom: 50px;
}

.section-04 p {
  width: 802px;
  height: 44px;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #23272a;
}

.section-04 img {
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  height: 100px;
  background-color: #23272a;
}

footer img {
  width: 10%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
